.menu-container2{
  height: 80px;
  width: 80px;
  background-color: white;
  position: absolute;
  z-index: 3;
  margin-left: 2px;
  margin-top: 2px;
}

.triangle-down2{
width: 0;
height: 0;
border-style: solid;
border-width: 10px 10px 0 10px;
border-color: white transparent transparent transparent;
position: absolute;
top:80px;
left: 30px;
}


.menubg2{
  position: relative;
  background-color: #5ca4d6;
  width: 84px;
  height:84px;
  overflow: hidden;
  z-index: 1;
}

.trianglebg2{
 position: relative;
 width: 0;
 height: 0;
 border-style: solid;
 border-width: 11px 11px 0 11px;
 border-color: #5ca4d6 transparent transparent transparent;
 z-index: 1;
 left: 31px;
}

.colorbox{
  width: 27px;
  height:27px;
  background-color: black;
  list-style: none;
  margin: 5px;
  right: 1px;
  bottom:13px;
  position: relative;
  float: left;
}

.colorbox2{
  width: 27px;
  height:27px;
  background-color: black;
  list-style: none;
  margin: 5px;
  right: 40px;
  bottom:87px;
  position: relative;
  float: right;
}
#topleft{
  background-color:#5ca4d6;
}
#topright{
  background-color: #d583ac;
}
#bottomleft{
  background-color: #deb17e;
}
#bottomright{
  background-color: #8bb992;
}
